*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color:#121212;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f8e7ca;
}
.heading{
  text-align: center;
  margin: 40px;
  font-size: clamp(1rem, 2vw + 0.5rem, 1.6rem);
  color: #f8e7ca;
}
.heading p{
  margin: 5px 0px 10px 0px;
  color: #faf4e8;
}
.Result-section{
  background-color: #10A95B;
  text-align: center;
  padding: 20px;
  font-size: 1.2rem;
  max-width: min(750px,90vw);
  margin: auto;
  border-radius: 10px;
}
.Rivals{
  display: flex;
  flex-wrap: wrap;
  max-width: min(750px,90vw);
  margin: min(10vh,30px) auto;
  justify-content: center;
  gap: 5px;
  
}
.Humans-box{
  padding: 5px;
  display: flex;
  gap: 5.5px;
  border-radius: 10px;
}
.Guess-section{
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 90vw;
  margin: auto;
  gap: 3px; 
}
.Guess-section div {
   background-color: grey;
  padding: 10px;
  min-width: 40px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid white;
  border-radius: 4px;
  font-size: clamp(1rem, 2vw, 1.4rem);
  color: white;
}
.Keyboard-section{
  display: flex;
  font-size: 1.2rem;
  max-width: 80vw;
  flex-wrap: wrap;
  margin: auto;
  width: min(750px,90vw);
  justify-content: center;
  gap: 3px;
  margin-top: 40px;
}
.Keyboard-section button {
  border-radius: 3px;
  display: flex;
  height: clamp(40px, 4vh, 60px);
  width: clamp(40px, 5vw, 60px);
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #3A3A3A 0%, #232323 100%);
  color: #E0E0E0;
  box-shadow: 0 2px 2px rgba(0,0,0,0.5);
}


.Keyboard-section button:hover{
  background: #00E5FF;
  color: black;
}
.NewGame-Btn{
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  width: fit-content;
  margin: 30px auto;
  background-color:#00FF85;
  border-radius: 10px;
  font-size: 1.1rem;
}
.Keyboard-section button.CorrectKey {
  background: green;
  color: white ;
}
.Keyboard-section button.WrongKey {
  background: red ;
  color: white ;
}
.Humans-box{
  position: relative;
}
.Humans-box.lost::before{
  content: "🕊️🤍";
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: 0.85rem;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
}
@media (hover: none) {
  .Keyboard-section button:hover {
    background: linear-gradient(135deg, #3A3A3A 0%, #232323 100%); 
    color: #E0E0E0
  }
}